<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubik's Cube Trainer</title>
    <style>
    body {
        text-align: center;
        font-family: Arial, sans-serif;
    }
    #cube-container {
        margin: auto;
        width: 70%;
        height: 70%;
	padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #cube-container img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }
    </style>
</head>
<body>
    <h1>Rubik's Cube Blindsolving Trainer</h1>
    <div id="cube-container">
        <!-- Cube image will be displayed here -->
    </div>
    <input type="text" id="moveInput" placeholder="Enter moves">
    <button onclick="applyMoves()">Apply Moves</button>
    <button onclick="scrambleCube()">Scramble</button>
    <button id="toggleVisibilityButton" onclick="toggleVisibility()">Hide</button>
    <button onclick="resetCube()">Reset</button>

    <script>
        var isCubeHidden = false;
        var cubeImageData;
      
        function applyMoves() {
            var moves = document.getElementById('moveInput').value;
            fetch('/apply_moves', {
                method: 'POST',
                body: moves,
                headers: {
                    'Content-Type': 'text/plain'
                }
            })
            .then(response => response.json())
            .then(data => {
		if(!isCubeHidden) {
		    updateCubeImage(data.image);
		} else {
		    cubeImageData = data.image;
		}
            });
        }

        function scrambleCube() {
            fetch('/generate_scramble')
            .then(response => response.json())
            .then(data => {
                updateCubeImage(data.image);
            });
        }

        function updateCubeImage(imageData) { 
            var cubeContainer = document.getElementById('cube-container');
            cubeContainer.innerHTML = '<img src="data:image/png;base64,' + imageData + '" alt="Rubik\'s Cube"/>';
        }
        
        function loadInitialCubeState() {
            fetch('/display_cube')
            .then(response => response.json())
            .then(data => {
                updateCubeImage(data.image);
            });
        }

        function toggleVisibility() {
	    var cubeContainer = document.getElementById('cube-container');
	    var button = document.getElementById('toggleVisibilityButton');

	    if (isCubeHidden) {
		updateCubeImage(cubeImageData);
		button.innerText = "Hide";
	    } else {
		cubeContainer.innerHTML = '<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Hidden"/>';
		button.innerText = "Unhide";
	    }

	    isCubeHidden = !isCubeHidden
	}

        function resetCube() {
	    fetch('/reset_cube')
		.then(response => response.json())
		.then(data => {
		    updateCubeImage(data.image);
		});
	}

      window.onload = loadInitialCubeState;
      window.onload = function() {
	  resetCube();
      };

    </script>
</body>
</html>
